/* Notification Dropdown Styling */
.notification-dropdown {
  position: absolute;
  top: 100%; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: white;
  color: #333;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding: 10px 0;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.notification-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.notification-dropdown li {
  padding: 12px 16px;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
}

.notification-dropdown li:hover {
  background-color: #ddd;
}

.show-more-button {
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ddd;
  font-size: 24px;
}

.show-more-button:hover {
  background-color: #ddd;
}