


/* .profile {
    max-width: 50rem; 
    margin: 0 auto;
    padding: 1.25rem; 
    font-family: 'Titillium Web', Arial, sans-serif;
} */

/* Profile header styling */
/* h1 {
    font-size: 2rem;
    color: #4b0082;
    margin-bottom: 0.625rem; 
    margin-left: -15.625rem; 
    padding-left: 1.25rem; 
} */

/* View Profile button styling */
/* .view-profile-button {
    padding: 0.5rem 1rem; 
    background-color: #4b0082;
    color: #fff;
    border-radius: 0.3125rem; 
    text-align: center; 
    text-decoration: none;
    font-size: 1rem;
    margin-left: -14.375rem;
    display: inline-block;
    box-sizing: border-box;
} */

